<form class="form" action="/scan" method="POST">
    <input type="text" name="url" required>
    <br>
    <label for="blood_group_A">blood_group:A</label>
    <input type="radio" id="blood_group_A" name="url" value="A" > <br>
    <label for="blood_group_B">blood_group:B </label>
    <input type="radio" id="blood_group_B" name="url" value="B" > <br>
     <label for="blood_group_O">blood_group:O </label>
    <input type="radio" id="blood_group_O" name="url"  value="O"> <br>
    <label for="blood_group_AB">blood_group:AB</label>
    <input type="radio" id="blood_group_AB" name="url" value="AB" > <br>
    <button type="submit" value="GET QR">generate QR</button>
</form>